:root {
    --light: #f6f6f9;
    --primary: #9819d2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #9819d2;
    --light-success: #BBF7D0;
}

body {
    background: linear-gradient(135deg, #181a1e 50%, var(--primary) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container input {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: var(--dark);
    color: var(--dark);
    border-bottom: 2px solid var(--primary);
    outline: none;
}

.login-container button {
    background-color: var(--primary);
    font-size: 1.2em;
    letter-spacing: .1em;
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--primary);
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: var(--dark);
}
h1{
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
}